In [1]:
import os
import pandas as pd

In [12]:
category = "other"
ID = "OTHER"

In [13]:
filenames = []
synthetic = []
references = []
Categories = []
time_sensitive = []
for filename in os.listdir("../../dataset/" + category):
    filenames.append(filename)
    references.append("")
    Categories.append(ID)
    time_sensitive.append("NO")
    if ("synthetic" in filename):
        synthetic.append("yes")
    else:
        synthetic.append("no")

In [14]:

table = pd.DataFrame(list(zip(filenames, synthetic, references, Categories, time_sensitive)), columns = ['filename', 'synthetic', 'reference', 'category', 'time_sensitive'])
table = table.sort_values('filename', ignore_index=True)
print(table)
table.to_csv("../../dataset/" + category + "/" + category + ".csv")

            filename synthetic reference category time_sensitive
0              1.txt        no              OTHER             NO
1             10.txt        no              OTHER             NO
2              2.txt        no              OTHER             NO
3              3.txt        no              OTHER             NO
4              4.txt        no              OTHER             NO
5              5.txt        no              OTHER             NO
6              6.txt        no              OTHER             NO
7              7.txt        no              OTHER             NO
8              8.txt        no              OTHER             NO
9              9.txt        no              OTHER             NO
10  synthetic_11.txt       yes              OTHER             NO
11  synthetic_12.txt       yes              OTHER             NO
12  synthetic_13.txt       yes              OTHER             NO
13  synthetic_14.txt       yes              OTHER             NO
14  synthetic_15.txt       yes              OTHER             NO
15  synthetic_16.txt       yes              OTHER             NO
16  synthetic_17.txt       yes              OTHER             NO
17  synthetic_18.txt       yes              OTHER             NO
18  synthetic_19.txt       yes              OTHER             NO
19  synthetic_20.txt       yes              OTHER             NO
20  synthetic_21.txt       yes              OTHER             NO
21  synthetic_22.txt       yes              OTHER             NO
22  synthetic_23.txt       yes              OTHER             NO
23  synthetic_24.txt       yes              OTHER             NO
24  synthetic_25.txt       yes              OTHER             NO
25  synthetic_26.txt       yes              OTHER             NO
26  synthetic_27.txt       yes              OTHER             NO
27  synthetic_28.txt       yes              OTHER             NO
28  synthetic_29.txt       yes              OTHER             NO
29  synthetic_30.txt       yes              OTHER             NO
30  synthetic_31.txt       yes              OTHER             NO
31  synthetic_32.txt       yes              OTHER             NO
32  synthetic_33.txt       yes              OTHER             NO
33  synthetic_34.txt       yes              OTHER             NO
34  synthetic_35.txt       yes              OTHER             NO
35  synthetic_36.txt       yes              OTHER             NO
36  synthetic_37.txt       yes              OTHER             NO
37  synthetic_38.txt       yes              OTHER             NO
38  synthetic_39.txt       yes              OTHER             NO
39  synthetic_40.txt       yes              OTHER             NO
40  synthetic_41.txt       yes              OTHER             NO
41  synthetic_42.txt       yes              OTHER             NO
42  synthetic_43.txt       yes              OTHER             NO
43  synthetic_44.txt       yes              OTHER             NO
44  synthetic_45.txt       yes              OTHER             NO
45  synthetic_46.txt       yes              OTHER             NO
46  synthetic_47.txt       yes              OTHER             NO
47  synthetic_48.txt       yes              OTHER             NO
48  synthetic_49.txt       yes              OTHER             NO
49  synthetic_50.txt       yes              OTHER             NO

In [37]:
frames = []
for path in os.listdir("../../dataset/"):
    path = "../../dataset/" + path
    for files in os.walk(path):
        csv = [file for file in files[2] if 'csv' in file][-1]
        frames.append(pd.read_csv(os.path.join(path, csv), index_col=0))
final_df = pd.concat(frames, ignore_index=True)
print(final_df)
final_df.to_csv('../../dataset/dataset.csv', index=True)

             filename synthetic  reference category time_sensitive
0               1.txt        no        NaN    RECOM             NO
1              10.txt        no        NaN    RECOM             NO
2               2.txt        no        NaN    RECOM             NO
3               3.txt        no        NaN    RECOM             NO
4               4.txt        no        NaN    RECOM             NO
..                ...       ...        ...      ...            ...
245  synthetic_46.txt       yes        NaN    ADMIN            YES
246  synthetic_47.txt       yes        NaN    ADMIN             NO
247  synthetic_48.txt       yes        NaN    ADMIN             NO
248  synthetic_49.txt       yes        NaN    ADMIN             NO
249  synthetic_50.txt       yes        NaN    ADMIN             NO

[250 rows x 5 columns]

In [29]:
data = pd.read_csv("../../dataset/dataset_table.csv", index_col=0)
validation = pd.read_csv("../../dataset/validation.csv", index_col=0)

In [28]:
test = pd.DataFrame(columns = validation.columns)
test

Empty DataFrame
Columns: [filename, synthetic, reference, category, time_sensitive]
Index: []

In [30]:
count = 0
for i, row in data.iterrows():
    flag = False
    for val_name in validation['filename']:
        if row['filename'] == val_name:
            flag = True
            break
    if flag == False:
        test = pd.concat([test, row.to_frame().T], ignore_index=True)
        count += 1
count

50

In [31]:
test

,filename,synthetic,reference,category,time_sensitive
0,recommendation/1.txt,no,NaN,RECOM,NO
1,recommendation/2.txt,no,NaN,RECOM,NO
2,recommendation/5.txt,no,NaN,RECOM,NO
3,recommendation/8.txt,no,NaN,RECOM,NO
4,recommendation/synthetic_11.txt,yes,NaN,RECOM,YES
5,recommendation/synthetic_16.txt,yes,NaN,RECOM,NO
6,recommendation/synthetic_18.txt,yes,NaN,RECOM,NO
7,recommendation/synthetic_34.txt,yes,NaN,RECOM,NO
8,recommendation/synthetic_40.txt,yes,NaN,RECOM,NO
9,recommendation/synthetic_41.txt,yes,NaN,RECOM,YES
10,recommendation/synthetic_42.txt,yes,NaN,RECOM,NO
11,recommendation/synthetic_44.txt,yes,NaN,RECOM,NO
12,collaboration/1.txt,no,NaN,COLLAB,NO
13,collaboration/4.txt,no,NaN,COLLAB,NO
14,collaboration/7.txt,no,NaN,COLLAB,NO
15,collaboration/synthetic_16.txt,yes,NaN,COLLAB,NO
16,collaboration/synthetic_23.txt,yes,NaN,COLLAB,NO
17,collaboration/synthetic_38.txt,yes,NaN,COLLAB,NO
18,curriculum/2.txt,no,NaN,CURRICULUM,NO
19,curriculum/7.txt,no,NaN,CURRICULUM,NO
20,curriculum/synthetic_11.txt,yes,NaN,CURRICULUM,NO
21,curriculum/synthetic_14.txt,yes,NaN,CURRICULUM,NO
22,curriculum/synthetic_19.txt,yes,NaN,CURRICULUM,NO
23,curriculum/synthetic_29.txt,yes,NaN,CURRICULUM,NO
24,curriculum/synthetic_30.txt,yes,NaN,CURRICULUM,NO
25,curriculum/synthetic_40.txt,yes,NaN,CURRICULUM,NO
26,curriculum/synthetic_42.txt,yes,NaN,CURRICULUM,NO
27,curriculum/synthetic_49.txt,yes,NaN,CURRICULUM,NO
28,curriculum/synthetic_50.txt,yes,NaN,CURRICULUM,NO
29,other/3.txt,no,NaN,OTHER,NO
30,other/7.txt,no,NaN,OTHER,NO
31,other/synthetic_12.txt,yes,NaN,OTHER,NO
32,other/synthetic_13.txt,yes,NaN,OTHER,NO
33,other/synthetic_14.txt,yes,NaN,OTHER,NO
34,other/synthetic_17.txt,yes,NaN,OTHER,NO
35,other/synthetic_20.txt,yes,NaN,OTHER,NO
36,other/synthetic_23.txt,yes,NaN,OTHER,YES
37,other/synthetic_31.txt,yes,NaN,OTHER,NO
38,other/synthetic_37.txt,yes,NaN,OTHER,NO
39,other/synthetic_45.txt,yes,NaN,OTHER,NO
40,administrative/6.txt,no,NaN,ADMIN,NO
41,administrative/7.txt,no,NaN,ADMIN,NO
42,administrative/synthetic_20.txt,yes,NaN,ADMIN,NO
43,administrative/synthetic_22.txt,yes,NaN,ADMIN,YES
44,administrative/synthetic_24.txt,yes,NaN,ADMIN,NO
45,administrative/synthetic_25.txt,yes,NaN,ADMIN,NO
46,administrative/synthetic_31.txt,yes,NaN,ADMIN,NO
47,administrative/synthetic_32.txt,yes,NaN,ADMIN,YES
48,administrative/synthetic_34.txt,yes,NaN,ADMIN,NO
49,administrative/synthetic_44.txt,yes,NaN,ADMIN,NO

In [33]:
test.to_csv('../../dataset/testing_new.csv')